*.pyc
*.egg-info
*.egg/
.eggs/
build/
lib/
dist/
.ropeproject/
ChangeLog
MANIFEST
yubioath/gui/qt_resources.py
man/*.1
.DS_Store

# IntelliJ / PyCharm
.idea/

# pyinstaller cruft
/yubioath-gui-script.py
/yubioath-gui.pkg
/yubioath-script.py
/yubioath.pkg

/yubioath.sublime-workspace
